body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fff;
}

.container-task {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 1;
    margin-top: 20px;
}

h1, h2 {
    text-align: center;
    color: #fff;
}

.add-task, .task-section {
    margin-bottom: 30px;
}

.add-task input, .add-task button {
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: calc(33% - 20px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
}

.task-section ul {
    list-style-type: none;
    padding: 0;
}

.task-section li {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-section li.completed {
    text-decoration: line-through;
    color: #888;
}

.ball-1, .ball-2, .ball-3 {
    position: absolute;
    border-radius: 50%;
    z-index: 0; /* Ensure the balls are behind the glass container */
}

.ball-1 {
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, #ff0099, #493240);
    top: -50px;
    left: -50px;
}

.ball-2 {
    width: 300px;
    height: 300px;
    background: linear-gradient(45deg, #00ff99, #004d40);
    bottom: -100px;
    right: -100px;
}

.ball-3 {
    width: 250px;
    height: 250px;
    background: linear-gradient(45deg, #00ccff, #003366);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.container-task .glass-effect {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.2);
    margin-top: 40px;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

.container-task .glass-effect button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
